<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>PlotJugglerPro</Name>
  <Version>2026.8.14</Version>
  <Title>PlotJugglerPro installer</Title>
  <Publisher>PlotJugglerPro</Publisher>
  <StyleSheet>installer.qss</StyleSheet>
  <StartMenuDir>PlotJugglerPro</StartMenuDir>
  <TargetDir>@ApplicationsDirX64@/PlotJugglerPro</TargetDir>
  <DependsOnLocalInstallerBinary>true</DependsOnLocalInstallerBinary>
  <RunProgram>@TargetDir@/PlotJugglerPro.exe</RunProgram>
</Installer>